*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;

}

.container{
    max-width: 960px;
    margin: 0 auto;
}
.nav_link{
    display: block;
    
}

.navigation{
    flex-basis: 700px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

}

.first_title{
    font-size: 68px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 100px;
}

.team_list{
    min-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;

}

/* .team_list{
    flex-basis: 280px;
    display: flex;
    flex-flow: column wrap;
*/

.box_wrapper{
    display: flex;
    flex-flow: row wrap;

}
.box{
    height: 200px;
}

.box:nth-of-type(1){
    flex-basis: 200px;
    background-color: aqua;
}

.box:nth-of-type(2){
    flex-basis: 250px;
    background-color:purple;
}

.box:nth-of-type(3){
    flex-basis: 150px;
    background-color: orangered;
}
