html{
    box-sizing: border-box
}

*,
*::before,
::after {
    box-sizing: inherit;
}

body{
    margin: 0px; 
}
.container{
    width: 1110px;
    margin: 0 auto;   
}

.page-header{
    margin-bottom: 108px;
}
.site-icon{
    display: inline-block;
}
.site-navigation {
    
    margin: 0;
    padding: 0;
    font-size: 12px;
    list-style: none;
    float: right;
}

.site-navigation a:hover{
    color:aqua;
}
.site-navigation li{
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 37px;
     
}

.site-navigation a{
    display: block;
   text-transform: uppercase;
   font-family: 'Open Sans';
   font-weight: bolder;
   text-decoration: none;
   color: black;
   line-height: 16px;

}

.feature-list{
    list-style: none;
    margin: 0;
    padding: 0;   
}

.headline{
    margin: 0;
    font-size: 30pt;
    font-family: 'Roboto-Black', sans-serif;
    font-weight: bold;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    margin-bottom: 133px;
}

.headline::after{
    content: "" ;
    display: block;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    background-color: aqua
    
}



.feature-list-item{
    list-style: none;
    margin: 0;
    padding: 0;

}

.product{
    display: block;
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 15px;
    margin-bottom: 32px;
    background-color:#e8effc
}

.product:nth-child(4n) {
    margin-right: 0px;
}

.img-link{
    display: block;
    margin: 0 auto;
    float: left;
  
}


.product-text{
    margin: 0;
    display: block;
    width: 200; height: 40;
    float: left;
    background-color: #323232;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.product-price{
    margin: 0;
    display: block;
    width: 54; height: 40;
    background-color: #8c8c8c;
    float: right;
}

